{% extends 'news/base.html' %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>gamergrind newz</h1>
    <p>check out the 411 from your favorite feeds.</p>
  </div>
</div>

<div class="container">
  {% for row in rows %}
 
    {% for entry in row %}
    <h2>{{entry.title}}</h2>
    <p>{{entry.description | safe}}</p>
    <p><a href="{{entry.url}}" target="_blank" class="btn btn-primary">details</a></p>
    {% endfor %}
  
  {% endfor %}

  <footer>
    <p>&copy; 2017 gamergrind, llc</p>
  </footer>
</div> <!-- /container -->

{% endblock %}
