{% extends 'news/base.html' %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>gamergrind newz</h1>
    <p>check out the 411 from your favorite feeds.</p>
  </div>
</div>

<div class="container">
  <ul>
    {% for article in articles %}
      <li><a href="{{article.url}}">{{article.title}}</a></li>
    {% endfor %}
  </ul>

  <footer>
    <p>&copy; 2017 gamergrind, llc</p>
  </footer>
</div> <!-- /container -->

{% endblock %}
